<footer id="footer" class="footer-wrapper">


  <!-- FOOTER 1 -->

  <!-- FOOTER 2 -->



  <div class="absolute-footer dark medium-text-center text-center">
    <div class="container clearfix">

            <div class="footer-secondary pull-right">
                  <div class="payment-icons inline-block"><div class="payment-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 64 32">
  <path d="M10.781 7.688c-0.251-1.283-1.219-1.688-2.344-1.688h-8.376l-0.061 0.405c5.749 1.469 10.469 4.595 12.595 10.501l-1.813-9.219zM13.125 19.688l-0.531-2.781c-1.096-2.907-3.752-5.594-6.752-6.813l4.219 15.939h5.469l8.157-20.032h-5.501l-5.062 13.688zM27.72 26.061l3.248-20.061h-5.187l-3.251 20.061h5.189zM41.875 5.656c-5.125 0-8.717 2.72-8.749 6.624-0.032 2.877 2.563 4.469 4.531 5.439 2.032 0.968 2.688 1.624 2.688 2.499 0 1.344-1.624 1.939-3.093 1.939-2.093 0-3.219-0.251-4.875-1.032l-0.688-0.344-0.719 4.499c1.219 0.563 3.437 1.064 5.781 1.064 5.437 0.032 8.97-2.688 9.032-6.843 0-2.282-1.405-4-4.376-5.439-1.811-0.904-2.904-1.563-2.904-2.499 0-0.843 0.936-1.72 2.968-1.72 1.688-0.029 2.936 0.314 3.875 0.752l0.469 0.248 0.717-4.344c-1.032-0.406-2.656-0.844-4.656-0.844zM55.813 6c-1.251 0-2.189 0.376-2.72 1.688l-7.688 18.374h5.437c0.877-2.467 1.096-3 1.096-3 0.592 0 5.875 0 6.624 0 0 0 0.157 0.688 0.624 3h4.813l-4.187-20.061h-4zM53.405 18.938c0 0 0.437-1.157 2.064-5.594-0.032 0.032 0.437-1.157 0.688-1.907l0.374 1.72c0.968 4.781 1.189 5.781 1.189 5.781-0.813 0-3.283 0-4.315 0z"></path>
  </svg>
  </div><div class="payment-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 64 32">
  <path d="M19.112 24.647l-1.249-4.1h-6.279l-1.249 4.1h-3.935l6.079-17.295h4.465l6.102 17.295h-3.935zM16.991 17.484c-1.155-3.715-1.804-5.816-1.949-6.303s-0.25-0.872-0.312-1.155c-0.259 1.005-1.002 3.491-2.227 7.457h4.488zM31.859 24.647h-3.652v-14.184h-4.677v-3.039h13.006v3.039h-4.677v14.184zM46.479 24.647l-4.147-13.513h-0.106c0.149 2.749 0.224 4.583 0.224 5.501v8.011h-3.263v-17.223h4.971l4.076 13.171h0.070l4.324-13.171h4.972v17.224h-3.405v-8.152c0-0.385 0.006-0.829 0.018-1.331s0.065-1.838 0.159-4.006h-0.106l-4.442 13.489h-3.346z"></path>
  </svg>
  </div><div class="payment-icon"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 64 32">
  <path d="M16.398 13.428c0.034 3.535 3.201 4.71 3.236 4.726-0.027 0.083-0.506 1.676-1.668 3.322-1.005 1.423-2.048 2.84-3.692 2.87-1.615 0.029-2.134-0.927-3.98-0.927s-2.422 0.898-3.951 0.956c-1.586 0.058-2.794-1.539-3.807-2.956-2.070-2.9-3.653-8.194-1.528-11.768 1.055-1.775 2.942-2.899 4.989-2.927 1.558-0.029 3.027 1.015 3.98 1.015s2.738-1.255 4.616-1.071c0.786 0.032 2.993 0.308 4.41 2.317-0.114 0.068-2.633 1.489-2.605 4.444zM13.363 4.749c0.842-0.987 1.409-2.362 1.254-3.729-1.213 0.047-2.682 0.783-3.552 1.77-0.78 0.874-1.464 2.273-1.279 3.613 1.353 0.101 2.735-0.666 3.577-1.654zM25.55 3.058c0.624-0.105 1.313-0.2 2.065-0.284s1.581-0.126 2.485-0.126c1.291 0 2.404 0.152 3.339 0.457s1.704 0.741 2.307 1.308c0.517 0.504 0.92 1.103 1.21 1.796s0.435 1.492 0.435 2.395c0 1.092-0.199 2.049-0.596 2.868s-0.941 1.507-1.629 2.064c-0.688 0.557-1.506 0.972-2.452 1.245s-1.979 0.41-3.098 0.41c-1.011 0-1.86-0.073-2.548-0.22v9.076h-1.517v-20.989zM27.068 13.648c0.366 0.104 0.774 0.178 1.226 0.22s0.935 0.063 1.451 0.063c1.936 0 3.436-0.441 4.501-1.323s1.597-2.174 1.597-3.876c0-0.819-0.14-1.534-0.42-2.143s-0.677-1.108-1.193-1.497c-0.516-0.388-1.129-0.683-1.839-0.882s-1.495-0.3-2.356-0.3c-0.688 0-1.28 0.027-1.774 0.079s-0.893 0.11-1.193 0.173l0.001 9.487zM49.452 20.454c0 0.61 0.010 1.219 0.032 1.828s0.086 1.197 0.194 1.765h-1.42l-0.225-2.143h-0.065c-0.194 0.294-0.441 0.588-0.742 0.882s-0.65 0.562-1.048 0.803c-0.398 0.242-0.85 0.436-1.355 0.583s-1.059 0.22-1.662 0.22c-0.753 0-1.414-0.121-1.985-0.362s-1.038-0.557-1.403-0.946c-0.366-0.389-0.64-0.836-0.822-1.339s-0.274-1.008-0.274-1.513c0-1.786 0.769-3.162 2.307-4.129s3.855-1.429 6.953-1.387v-0.41c0-0.399-0.038-0.856-0.113-1.371s-0.242-1.003-0.5-1.465c-0.258-0.462-0.645-0.851-1.161-1.166s-1.215-0.473-2.097-0.473c-0.666 0-1.328 0.1-1.983 0.299s-1.253 0.478-1.791 0.835l-0.484-1.103c0.688-0.462 1.399-0.793 2.13-0.992s1.495-0.3 2.29-0.3c1.076 0 1.952 0.178 2.63 0.536s1.21 0.819 1.597 1.387c0.387 0.567 0.651 1.202 0.791 1.906s0.21 1.402 0.21 2.096l-0.001 5.957zM47.936 15.948c-0.818-0.021-1.673 0.010-2.566 0.094s-1.715 0.268-2.468 0.552c-0.753 0.284-1.377 0.699-1.871 1.245s-0.742 1.271-0.742 2.175c0 1.072 0.312 1.859 0.935 2.364s1.323 0.757 2.097 0.757c0.624 0 1.182-0.084 1.677-0.252s0.925-0.394 1.291-0.677c0.366-0.283 0.672-0.603 0.919-0.961s0.436-0.725 0.565-1.103c0.108-0.421 0.161-0.726 0.161-0.915l0.001-3.277zM52.418 8.919l3.935 9.833c0.215 0.547 0.42 1.108 0.613 1.686s0.366 1.108 0.516 1.591h0.065c0.15-0.462 0.322-0.982 0.516-1.56s0.409-1.171 0.645-1.781l3.679-9.77h1.613l-4.484 11.094c-0.452 1.177-0.877 2.243-1.275 3.199s-0.801 1.817-1.21 2.585c-0.409 0.767-0.822 1.445-1.242 2.033s-0.887 1.103-1.404 1.544c-0.602 0.525-1.156 0.908-1.661 1.151s-0.844 0.394-1.016 0.457l-0.517-1.229c0.387-0.168 0.818-0.388 1.291-0.662s0.936-0.63 1.387-1.072c0.387-0.378 0.812-0.877 1.274-1.497s0.876-1.371 1.242-2.254c0.13-0.336 0.194-0.557 0.194-0.662 0-0.147-0.065-0.367-0.194-0.662l-5.582-14.025h1.614z"></path>
  </svg>
  </div></div>      </div>

      <div class="footer-primary pull-left">
                <div class="menu-main-container"><ul id="menu-main-1" class="links footer-nav uppercase"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-738"><a href="https://keodangach.asia/" aria-current="page">TRANG CHỦ</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a href="https://keodangach.asia/gioi-thieu/">GIỚI THIỆU</a></li>
  <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749"><a href="https://keodangach.asia/vlxd/keo-dan-gach/">KEO DÁN GẠCH</a></li>
  <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748"><a href="https://keodangach.asia/vlxd/keo-cha-ron/">KEO CHÀ RON</a></li>
  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728"><a href="#">HÓA CHẤT XÂY DỰNG</a></li>
  <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-777"><a href="https://keodangach.asia/category/tu-van/">TƯ VẤN</a></li>
  <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764"><a href="https://keodangach.asia/category/tin-tuc/">TIN TỨC</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735"><a href="https://keodangach.asia/lien-he/">LIÊN HỆ</a></li>
  </ul></div>            <div class="copyright-footer">
          CÔNG TY CP ĐẦU TƯ & XÂY DỰNG INNOCONS VIỆT NAM<br>
  KEO DÁN GẠCH - KEO CHÀ RON - HÓA CHẤT XÂY DỰNG - VẬT LIỆU CHỐNG THẤM<br>
  <b>Showroom :</b> Khu B, Lô B50-04, KĐT GELEXIMCO, Lê Trọng Tấn, Hà Đông, Hà Nội<br>
  <b>Hotline:</b>0973021656 -  0936365648<br>
  Copyright 2023 © <strong>keodangach.asia</strong>      </div>
            </div>
    </div>
  </div>

  <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Go to top"><i class="icon-angle-up" ></i></a>

  </footer><!-- .footer-wrapper -->
