<header id="header" class="header has-sticky sticky-jump">
  <div class="header-wrapper">
    <div id="masthead" class="header-main ">
    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

        <!-- Logo -->
        <div id="logo" class="flex-col logo">

<!-- Header logo -->
<a href="https://keodangach.asia/" title="keo dán gạch;keo dán gạch TOA; chống thấm; hóa chất xây dựng; phụ gia xây dựng; keo chà ron; keo chít mạch; vữa khô mác cao - keo dán gạch;keo dán gạch TOA; chống thấm; hóa chất xây dựng; phụ gia xây dựng; keo chà ron; keo chít mạch; vữa khô mác cao" rel="home">
  <img width="556" height="214" src="https://keodangach.asia/wp-content/uploads/2023/10/logo-innocons.png" class="header_logo header-logo" alt="keo dán gạch;keo dán gạch TOA; chống thấm; hóa chất xây dựng; phụ gia xây dựng; keo chà ron; keo chít mạch; vữa khô mác cao"/><img  width="556" height="214" src="https://keodangach.asia/wp-content/uploads/2023/10/logo-innocons.png" class="header-logo-dark" alt="keo dán gạch;keo dán gạch TOA; chống thấm; hóa chất xây dựng; phụ gia xây dựng; keo chà ron; keo chít mạch; vữa khô mác cao"/></a>
        </div>

        <!-- Mobile Left Elements -->
        <div class="flex-col show-for-medium flex-left">
          <ul class="mobile-nav nav nav-left ">
            <li class="nav-icon has-icon">
<div class="header-button">		<a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="icon primary button round is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">

    <i class="icon-menu" ></i>
        </a>
 </div> </li>
          </ul>
        </div>

        <!-- Left Elements -->
        <div class="flex-col hide-for-medium flex-left
          flex-grow">
          <ul class="header-nav header-nav-main nav nav-left  nav-uppercase" >
            <li id="menu-item-738" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-738 active menu-item-design-default"><a href="/" aria-current="page" class="nav-top-link">TRANG CHỦ</a></li>
<li id="menu-item-422" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422 menu-item-design-default"><a href="/introduce" class="nav-top-link">GIỚI THIỆU</a></li>
<li id="menu-item-749" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749 menu-item-design-default"><a href="/tile-adhesive" class="nav-top-link">KEO DÁN GẠCH</a></li>
<li id="menu-item-748" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748 menu-item-design-default"><a href="/plaster-adhesive" class="nav-top-link">KEO CHÀ RON</a></li>
<li id="menu-item-728" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728 menu-item-design-default"><a href="/construction-chemicals" class="nav-top-link">HÓA CHẤT XÂY DỰNG</a></li>
<li id="menu-item-777" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-777 menu-item-design-default"><a href="/consulting" class="nav-top-link">TƯ VẤN</a></li>
<li id="menu-item-764" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764 menu-item-design-default"><a href="/news" class="nav-top-link">TIN TỨC</a></li>
<li id="menu-item-735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735 menu-item-design-default"><a href="/contact" class="nav-top-link">LIÊN HỆ</a></li>
          </ul>
        </div>

        <!-- Right Elements -->
        <div class="flex-col hide-for-medium flex-right">
          <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
            <li class="header-search-form search-form html relative has-icon">
<div class="header-search-form-wrapper">
  <div class="searchform-wrapper ux-search-box relative form-flat is-normal"><form role="search" method="get" class="searchform" action="https://keodangach.asia/">
<div class="flex-row relative">
          <div class="flex-col flex-grow">
    <label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
    <input type="search" id="woocommerce-product-search-field-0" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s" />
    <input type="hidden" name="post_type" value="product" />
        </div>
  <div class="flex-col">
    <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button  icon mb-0" aria-label="Submit">
      <i class="icon-search" ></i>			</button>
  </div>
</div>
<div class="live-search-results text-left z-top"></div>
</form>
</div>	</div>
</li>
          </ul>
        </div>

        <!-- Mobile Right Elements -->
        <div class="flex-col show-for-medium flex-right">
          <ul class="mobile-nav nav nav-right ">
                        </ul>
        </div>

    </div>

          <div class="container"><div class="top-divider full-width"></div></div>
    </div>
<div id="wide-nav" class="header-bottom wide-nav show-for-medium">
  <div class="flex-row container">




                        <div class="flex-col show-for-medium flex-grow">
                <ul class="nav header-bottom-nav nav-center mobile-nav  nav-uppercase">
                    <li class="header-search-form search-form html relative has-icon">
<div class="header-search-form-wrapper">
  <div class="searchform-wrapper ux-search-box relative form-flat is-normal"><form role="search" method="get" class="searchform" action="https://keodangach.asia/">
<div class="flex-row relative">
          <div class="flex-col flex-grow">
    <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label>
    <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s" />
    <input type="hidden" name="post_type" value="product" />
        </div>
  <div class="flex-col">
    <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button  icon mb-0" aria-label="Submit">
      <i class="icon-search" ></i>			</button>
  </div>
</div>
<div class="live-search-results text-left z-top"></div>
</form>
</div>	</div>
</li>
                </ul>
            </div>

  </div>
</div>

<div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div>		</div>
</header>
