

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-265 theme-flatsome woocommerce-no-js lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">


<a class="skip-link screen-reader-text" href="#main">Skip to content</a>

<div id="wrapper">





	<main id="main" class="">


<div id="content" role="main" class="content-area">


			<div class="slider-wrapper relative" id="slider-885487472" >
    <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
        data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'
        >

	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1655377786">
								<div class="img-inner dark" >
			<img width="1020" height="426" src="https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-1400x585.jpg" class="attachment-large size-large" alt="" decoding="async" fetchpriority="high" srcset="https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-1400x585.jpg 1400w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-800x334.jpg 800w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-768x321.jpg 768w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-600x251.jpg 600w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA.jpg 1960w" sizes="(max-width: 1020px) 100vw, 1020px" />
					</div>

<style>
#image_1655377786 {
  width: 100%;
}
</style>
	</div>

	<div class="img has-hover x md-x lg-x y md-y lg-y" id="image_930953469">
								<div class="img-inner dark" >
			<img width="1020" height="426" src="https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2-1400x585.jpg" class="attachment-large size-large" alt="" decoding="async" srcset="https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2-1400x585.jpg 1400w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2-800x334.jpg 800w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2-768x321.jpg 768w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2-600x251.jpg 600w, https://keodangach.asia/wp-content/uploads/2023/10/banner-keodangach-TOA-2.jpg 1960w" sizes="(max-width: 1020px) 100vw, 1020px" />
					</div>

<style>
#image_930953469 {
  width: 100%;
}
</style>
	</div>

     </div>

     <div class="loading-spin dark large centered"></div>

	</div>


	<div id="gap-67190942" class="gap-element clearfix" style="display:block; height:auto;">

<style>
#gap-67190942 {
  padding-top: 0px;
}
</style>
	</div>

	<section class="section" id="section_937661532">
		<div class="bg section-bg fill bg-fill  bg-loaded" >





		</div>



		<div class="section-content relative">


		<div class="tabbed-content">

			<ul class="nav nav-line-bottom nav-uppercase nav-size-normal nav-center" role="tablist"><li id="tab-keo-dÁn-gẠch-toa" class="tab active has-icon" role="presentation"><a href="#tab_keo-dÁn-gẠch-toa" role="tab" aria-selected="true" aria-controls="tab_keo-dÁn-gẠch-toa"><span>KEO DÁN GẠCH TOA</span></a></li>
<li id="tab-keo-chÀ-ron" class="tab has-icon" role="presentation"><a href="#tab_keo-chÀ-ron" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_keo-chÀ-ron"><span>KEO CHÀ RON</span></a></li>
<li id="tab-vẬt-liỆu-chỐng-thẤm" class="tab has-icon" role="presentation"><a href="#tab_vẬt-liỆu-chỐng-thẤm" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_vẬt-liỆu-chỐng-thẤm"><span>VẬT LIỆU CHỐNG THẤM</span></a></li></ul><div class="tab-panels"><div id="tab_keo-dÁn-gẠch-toa" class="panel active entry-content" role="tabpanel" aria-labelledby="tab-keo-dÁn-gẠch-toa">


    <div class="row large-columns-3 medium-columns- small-columns-2 row-small" >

	     <div class="product-small col has-hover product type-product post-753 status-publish first instock product_cat-keo-dan-gach product_tag-keo-dan-gach product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-protile/" aria-label="KEO DÁN GẠCH TOA PROTILE">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Protile-281x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-protile/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">KEO DÁN GẠCH TOA PROTILE</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div><div class="product-small col has-hover product type-product post-751 status-publish instock product_cat-keo-dan-gach product_tag-keo-dan-gach product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-supertile/" aria-label="KEO DÁN GẠCH TOA SUPERTILE">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Supertile-281x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-supertile/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">KEO DÁN GẠCH TOA SUPERTILE</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div><div class="product-small col has-hover product type-product post-745 status-publish last instock product_cat-keo-dan-gach product_tag-keo-dan-gach product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-premtilmiue/" aria-label="KEO DÁN GẠCH TOA PREMTILMIUE">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue-281x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-premtilmiue/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">KEO DÁN GẠCH TOA PREMTILMIUE</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div></div>
</div>
<div id="tab_keo-chÀ-ron" class="panel entry-content" role="tabpanel" aria-labelledby="tab-keo-chÀ-ron">


    <div class="row large-columns-3 medium-columns- small-columns-2 row-small" >

	     <div class="product-small col has-hover product type-product post-796 status-publish first instock product_cat-keo-cha-ron product_tag-keo-cha-ron product_tag-silicone product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-cha-ron/toa-303-acrylic-sealant-keo-tram-khe-mot-thanh-phan-goc-acrylic/" aria-label="TOA 303 Acrylic Sealant - keo trám khe một thành phần gốc acrylic">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/Silicone-TOA-303-281x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-cha-ron/toa-303-acrylic-sealant-keo-tram-khe-mot-thanh-phan-goc-acrylic/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">TOA 303 Acrylic Sealant &#8211; keo trám khe một thành phần gốc acrylic</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div><div class="product-small col has-hover product type-product post-794 status-publish instock product_cat-keo-cha-ron product_tag-keo-cha-ron product_tag-silicone product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-cha-ron/toa-silicone-sealant-hp-keo-tram-khe-mot-thanh-phan-goc-silicone/" aria-label="TOA Silicone Sealant (HP) keo trám khe một thành phần gốc silicone">
					<img width="300" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" srcset="https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP-300x300.jpg 300w, https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP-400x400.jpg 400w, https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP-280x280.jpg 280w, https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP-100x100.jpg 100w, https://keodangach.asia/wp-content/uploads/2023/10/Silicone-Sealant-HP.jpg 600w" sizes="(max-width: 300px) 100vw, 300px" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-cha-ron/toa-silicone-sealant-hp-keo-tram-khe-mot-thanh-phan-goc-silicone/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">TOA Silicone Sealant (HP) keo trám khe một thành phần gốc silicone</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div><div class="product-small col has-hover product type-product post-792 status-publish last instock product_cat-keo-cha-ron product_tag-keo-cha-ron product_tag-silicone product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-cha-ron/toa-pu-sealant-keo-tram-khe-goc-polyurethane-mot-thanh-phan/" aria-label="TOA PU Sealant keo trám khe gốc polyurethane một thành phần">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/Silicone-TOA-1-281x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-cha-ron/toa-pu-sealant-keo-tram-khe-goc-polyurethane-mot-thanh-phan/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">TOA PU Sealant keo trám khe gốc polyurethane một thành phần</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div><div class="product-small col has-hover product type-product post-789 status-publish first instock product_cat-keo-cha-ron product_tag-keo-cha-ron product_tag-silicone product_tag-toa has-post-thumbnail shipping-taxable product-type-simple">
	<div class="col-inner">

<div class="badge-container absolute left top z-1">

</div>
	<div class="product-small box ">
		<div class="box-image">
			<div class="image-fade_in_back">
				<a href="https://keodangach.asia/shop/keo-cha-ron/toa-silicone-sealant-gp-keo-tram-khe-1-thanh-phan-he-silicon-dan-hoi-cao/" aria-label="TOA Silicone Sealant (GP) - Keo trám khe 1 thành phần, hệ silicon đàn hồi cao.">
					<img width="281" height="300" src="https://keodangach.asia/wp-content/uploads/2023/10/Silicone-TOA--281x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" loading="lazy" />				</a>
			</div>
			<div class="image-tools is-small top right show-on-hover">
							</div>
			<div class="image-tools is-small hide-for-small bottom left show-on-hover">
							</div>
			<div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
							</div>
					</div>

		<div class="box-text box-text-products">
			<div class="title-wrapper"><p class="name product-title woocommerce-loop-product__title"><a href="https://keodangach.asia/shop/keo-cha-ron/toa-silicone-sealant-gp-keo-tram-khe-1-thanh-phan-he-silicon-dan-hoi-cao/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">TOA Silicone Sealant (GP) &#8211; Keo trám khe 1 thành phần, hệ silicon đàn hồi cao.</a></p></div><div class="price-wrapper">
</div>		</div>
	</div>
		</div>
</div></div>
</div>
<div id="tab_vẬt-liỆu-chỐng-thẤm" class="panel entry-content" role="tabpanel" aria-labelledby="tab-vẬt-liỆu-chỐng-thẤm">
</div></div></div>
		</div>


<style>
#section_937661532 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>

	<section class="section" id="section_119786715">
		<div class="bg section-bg fill bg-fill  bg-loaded" >





		</div>



		<div class="section-content relative">

<div class="container section-title-container" ><h3 class="section-title section-title-center"><b></b><span class="section-title-main" style="color:rgb(34, 98, 15);"><i class="icon-checkmark" ></i>TIN TỨC</span><b></b></h3></div>
<div class="row"  id="row-577948794">

	<div id="col-1402813987" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >




    <div class="row large-columns-1 medium-columns-1 small-columns-1" >
  <div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:56.25%;">
							<a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" class="plain" aria-label="Keo dán gạch TOA Premiumtile &#8211; Sự lựa chọn hoàn hảo cho mọi công trình ốp lát">
								<img width="281" height="360" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" />							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-center" >
					<div class="box-text-inner blog-post-inner">


										<h5 class="post-title is-large uppercase">
						<a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" class="plain">Keo dán gạch TOA Premiumtile &#8211; Sự lựa chọn hoàn hảo cho mọi công trình ốp lát</a>
					</h5>
										<div class="is-divider"></div>
										<p class="from_the_blog_excerpt ">Keo dán gạch là một sản phẩm quan trọng trong quá trình ốp lát, nó có tác dụng gắn kết gạch với bề mặt tường hoặc sàn nhà, giúp cho công trình bền đẹp và lâu dài. Trên thị trường hiện...					</p>



					</div>
					</div>
									</div>
			</div>
		</div></div>
		</div>
					</div>



	<div id="col-1820273581" class="col medium-6 small-12 large-6"  >
				<div class="col-inner"  >




    <div class="row large-columns-2 medium-columns-1 small-columns-1" >
  <div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:56.25%;">
							<a href="https://keodangach.asia/chon-keo-dan-gach-loi-ich-ky-thuat-thi-cong-va-luu-y-quan-trong/" class="plain" aria-label="Chọn Keo Dán Gạch: Lợi Ích, Kỹ Thuật Thi Công và Lưu ý Quan Trọng">
								<img width="522" height="400" src="https://keodangach.asia/wp-content/uploads/2023/11/huong-dan-su-dung-keo-dan-gach-3.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" />							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-center" >
					<div class="box-text-inner blog-post-inner">


										<h5 class="post-title is-large ">
						<a href="https://keodangach.asia/chon-keo-dan-gach-loi-ich-ky-thuat-thi-cong-va-luu-y-quan-trong/" class="plain">Chọn Keo Dán Gạch: Lợi Ích, Kỹ Thuật Thi Công và Lưu ý Quan Trọng</a>
					</h5>
										<div class="is-divider"></div>



					</div>
					</div>
									</div>
			</div>
		</div><div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:56.25%;">
							<a href="https://keodangach.asia/mot-bao-keo-dan-gach-25kg-dan-duoc-bao-nhieu-m2/" class="plain" aria-label="Một bao keo dán gạch 25kg dán được bao nhiêu m2?">
								<img width="600" height="400" src="https://keodangach.asia/wp-content/uploads/2023/11/eo-dan-gach-giup-khac-phuc-cac-hon-hop-truyen-thong-truoc-day-mac-phai_627efd4fd123469992592383f4b09a3e_1024x1024-600x400.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://keodangach.asia/wp-content/uploads/2023/11/eo-dan-gach-giup-khac-phuc-cac-hon-hop-truyen-thong-truoc-day-mac-phai_627efd4fd123469992592383f4b09a3e_1024x1024-600x400.jpg 600w, https://keodangach.asia/wp-content/uploads/2023/11/eo-dan-gach-giup-khac-phuc-cac-hon-hop-truyen-thong-truoc-day-mac-phai_627efd4fd123469992592383f4b09a3e_1024x1024-768x512.jpg 768w, https://keodangach.asia/wp-content/uploads/2023/11/eo-dan-gach-giup-khac-phuc-cac-hon-hop-truyen-thong-truoc-day-mac-phai_627efd4fd123469992592383f4b09a3e_1024x1024.jpg 800w" sizes="(max-width: 600px) 100vw, 600px" />							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-center" >
					<div class="box-text-inner blog-post-inner">


										<h5 class="post-title is-large ">
						<a href="https://keodangach.asia/mot-bao-keo-dan-gach-25kg-dan-duoc-bao-nhieu-m2/" class="plain">Một bao keo dán gạch 25kg dán được bao nhiêu m2?</a>
					</h5>
										<div class="is-divider"></div>



					</div>
					</div>
									</div>
			</div>
		</div><div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:56.25%;">
							<a href="https://keodangach.asia/su-quan-trong-cua-keo-dan-gach-trong-cong-trinh-xay-dung/" class="plain" aria-label="Sự Quan Trọng của Keo Dán Gạch trong Công Trình Xây Dựng">
								<img width="597" height="400" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-597x400.jpg" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-597x400.jpg 597w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-1194x800.jpg 1194w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-768x515.jpg 768w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-1536x1029.jpg 1536w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-600x402.jpg 600w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia.jpg 1800w" sizes="(max-width: 597px) 100vw, 597px" />							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-center" >
					<div class="box-text-inner blog-post-inner">


										<h5 class="post-title is-large ">
						<a href="https://keodangach.asia/su-quan-trong-cua-keo-dan-gach-trong-cong-trinh-xay-dung/" class="plain">Sự Quan Trọng của Keo Dán Gạch trong Công Trình Xây Dựng</a>
					</h5>
										<div class="is-divider"></div>



					</div>
					</div>
									</div>
			</div>
		</div><div class="col post-item" >
			<div class="col-inner">
				<div class="box box-normal box-text-bottom box-blog-post has-hover">
            					<div class="box-image" >
  						<div class="image-cover" style="padding-top:56.25%;">
							<a href="https://keodangach.asia/1-bao-keo-dan-gach-toa-dan-duoc-bao-nhieu-m2/" class="plain" aria-label="1 bao keo dán gạch TOA dán được bao nhiêu m2?">
								<img width="631" height="400" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-thai-lan-631x400.png" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" srcset="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-thai-lan-631x400.png 631w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-thai-lan-600x380.png 600w, https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-thai-lan.png 674w" sizes="(max-width: 631px) 100vw, 631px" />							</a>
  							  							  						</div>
  						  					</div>
          					<div class="box-text text-center" >
					<div class="box-text-inner blog-post-inner">


										<h5 class="post-title is-large ">
						<a href="https://keodangach.asia/1-bao-keo-dan-gach-toa-dan-duoc-bao-nhieu-m2/" class="plain">1 bao keo dán gạch TOA dán được bao nhiêu m2?</a>
					</h5>
										<div class="is-divider"></div>



					</div>
					</div>
									</div>
			</div>
		</div></div>
		</div>
					</div>


</div>
		</div>


<style>
#section_119786715 {
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
	</section>



</div>



</main><!-- #main -->



</div><!-- #wrapper -->

<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">


	<div class="sidebar-menu no-scrollbar ">


					<ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
				<li class="header-search-form search-form html relative has-icon">
	<div class="header-search-form-wrapper">
		<div class="searchform-wrapper ux-search-box relative form-flat is-normal"><form role="search" method="get" class="searchform" action="https://keodangach.asia/">
	<div class="flex-row relative">
						<div class="flex-col flex-grow">
			<label class="screen-reader-text" for="woocommerce-product-search-field-2">Tìm kiếm:</label>
			<input type="search" id="woocommerce-product-search-field-2" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s" />
			<input type="hidden" name="post_type" value="product" />
					</div>
		<div class="flex-col">
			<button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button  icon mb-0" aria-label="Submit">
				<i class="icon-search" ></i>			</button>
		</div>
	</div>
	<div class="live-search-results text-left z-top"></div>
</form>
</div>	</div>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-265 current_page_item menu-item-738"><a href="https://keodangach.asia/" aria-current="page">TRANG CHỦ</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422"><a href="https://keodangach.asia/gioi-thieu/">GIỚI THIỆU</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749"><a href="https://keodangach.asia/vlxd/keo-dan-gach/">KEO DÁN GẠCH</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748"><a href="https://keodangach.asia/vlxd/keo-cha-ron/">KEO CHÀ RON</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728"><a href="#">HÓA CHẤT XÂY DỰNG</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-777"><a href="https://keodangach.asia/category/tu-van/">TƯ VẤN</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764"><a href="https://keodangach.asia/category/tin-tuc/">TIN TỨC</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735"><a href="https://keodangach.asia/lien-he/">LIÊN HỆ</a></li>
			</ul>


	</div>


</div>
    <div id="login-form-popup" class="lightbox-content mfp-hide">
            	<div class="woocommerce">
      		<div class="woocommerce-notices-wrapper"></div>
<div class="account-container lightbox-inner">


			<div class="account-login-inner">

				<h3 class="uppercase">Đăng nhập</h3>

				<form class="woocommerce-form woocommerce-form-login login" method="post">


					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label>
						<input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" />					</p>
					<p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
						<label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
						<input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" />
					</p>


					<p class="form-row">
						<label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
							<input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span>
						</label>
						<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="74959bba16" /><input type="hidden" name="_wp_http_referer" value="/" />						<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
					</p>
					<p class="woocommerce-LostPassword lost_password">
						<a href="https://keodangach.asia/my-account/lost-password/">Quên mật khẩu?</a>
					</p>


				</form>
			</div>


</div>

		</div>
      	    </div>
  	<script type="text/javascript">
		(function () {
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		})();
	</script>
	<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}body .is-layout-grid{display: grid;}body .is-layout-grid > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
</style>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/keodangach.asia\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.5' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.8.2.1' id='jquery-blockui-js'></script>
<script type='text/javascript' id='wc-add-to-cart-js-extra'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Xem gi\u1ecf h\u00e0ng","cart_url":"https:\/\/keodangach.asia\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=8.2.1' id='wc-add-to-cart-js'></script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.8.2.1' id='js-cookie-js'></script>
<script type='text/javascript' id='woocommerce-js-extra'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=8.2.1' id='woocommerce-js'></script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.17.7' id='flatsome-live-search-js'></script>
<script type='text/javascript' src='https://keodangach.asia/wp-includes/js/hoverIntent.min.js?ver=1.10.2' id='hoverIntent-js'></script>
<script type='text/javascript' id='flatsome-js-js-extra'>
/* <![CDATA[ */
var flatsomeVars = {"theme":{"version":"3.17.7"},"ajaxurl":"https:\/\/keodangach.asia\/wp-admin\/admin-ajax.php","rtl":"","sticky_height":"70","stickyHeaderHeight":"0","scrollPaddingTop":"0","assets_url":"https:\/\/keodangach.asia\/wp-content\/themes\/flatsome\/assets\/","lightbox":{"close_markup":"<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>","close_btn_inside":false},"user":{"can_edit_pages":false},"i18n":{"mainMenu":"Main Menu","toggleButton":"Toggle"},"options":{"cookie_notice_version":"1","swatches_layout":false,"swatches_disable_deselect":false,"swatches_box_select_event":false,"swatches_box_behavior_selected":false,"swatches_box_update_urls":"1","swatches_box_reset":false,"swatches_box_reset_limited":false,"swatches_box_reset_extent":false,"swatches_box_reset_time":300,"search_result_latency":"0"},"is_mini_cart_reveal":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/flatsome.js?ver=43f05e0ca79aa585a6aa' id='flatsome-js-js'></script>
<script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=1a392523165907adee6a' id='flatsome-theme-woocommerce-js-js'></script>
<!--[if IE]>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/intersection-observer-polyfill@0.1.0/dist/IntersectionObserver.js?ver=0.1.0' id='intersection-observer-polyfill-js'></script>
<![endif]-->

</body>




