<body class="post-template-default single single-post postid-814 single-format-standard theme-flatsome woocommerce-no-js lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
  <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
  <div id="wrapper">
      <main id="main" class="">
          <div id="content" class="blog-wrapper blog-single page-wrapper">
              <div class="row row-large ">
                  <div class="large-9 col">
                      <article id="post-814" class="post-814 post type-post status-publish format-standard has-post-thumbnail hentry category-tu-van">
                          <div class="article-inner ">
                              <header class="entry-header">
                                  <div class="entry-header-text entry-header-text-top text-center">
                                      <h6 class="entry-category is-xsmall">
                                          <a href="https://keodangach.asia/category/tu-van/" rel="category tag">TƯ VẤN</a>
                                      </h6>
                                      <h1 class="entry-title">Keo dán gạch TOA Premiumtile &#8211;Sự lựa chọn hoàn hảo cho mọi công trình ốp lát</h1>
                                      <div class="entry-divider is-divider small"></div>
                                      <div class="entry-meta uppercase is-xsmall">
                                          <span class="posted-on">
                                              Posted on
                                              <a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" rel="bookmark">
                                                  <time class="entry-date published" datetime="2023-11-19T15:41:47+00:00">19 Tháng Mười Một, 2023</time>
                                                  <time class="updated" datetime="2023-11-19T15:44:20+00:00">19 Tháng Mười Một, 2023</time>
                                              </a>
                                          </span>
                                          <span class="byline">
                                              by
                                              <span class="meta-author vcard">
                                                  <a class="url fn n" href="https://keodangach.asia/author/vina/">innocons</a>
                                              </span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="entry-image relative">
                                      <a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/">
                                          <img width="281" height="360" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png" class="attachment-large size-large wp-post-image" alt="" decoding="async" fetchpriority="high"/>
                                      </a>
                                      <div class="badge absolute top post-date badge-outline">
                                          <div class="badge-inner">
                                              <span class="post-date-day">19</span>
                                              <br>
                                              <span class="post-date-month is-small">Th11</span>
                                          </div>
                                      </div>
                                  </div>
                              </header>
                              <div class="entry-content single-page">
                                  <p data-sourcepos="3:1-3:319">Keo dán gạch là một sản phẩm quan trọng trong quá trình ốp lát, nó có tác dụng gắn kết gạch với bề mặt tường hoặc sàn nhà, giúp cho công trình bền đẹp và lâu dài. Trên thị trường hiện nay có rất nhiều loại keo dán gạch khác nhau, nhưng keo dán gạch TOA Premiumtile vẫn là sự lựa chọn hàng đầu của nhiều người tiêu dùng.</p>
                                  <h2 data-sourcepos="5:1-5:44">
                                      <strong>Ưu điểm của keo dán gạch TOA Premiumtile</strong>
                                  </h2>
                                  <p data-sourcepos="7:1-7:60">Keo dán gạch TOA Premiumtile có nhiều ưu điểm vượt trội như:</p>
                                  <ul data-sourcepos="9:1-15:0">
                                      <li data-sourcepos="9:1-10:39">
                                          <strong>Khả năng bám dính cao:</strong>
                                          Keo dán gạch TOA Premiumtile được sản xuất từ các nguyên liệu chất lượng cao, có khả năng bám dính tốt với mọi loại bề mặt, kể cả bề mặt gồ ghề và ẩm ướt.
                                      </li>
                                      <li data-sourcepos="9:1-10:39">
                                          <img decoding="async" class="size-full wp-image-746 aligncenter" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png" alt="" width="281" height="360"/>
                                      </li>
                                  </ul>
                                  <ul data-sourcepos="9:1-15:0">
                                      <li data-sourcepos="11:1-11:152">
                                          <strong>Chống thấm nước tốt:</strong>
                                          Keo dán gạch TOA Premiumtile có khả năng chống thấm nước tốt, giúp bảo vệ công trình ốp lát khỏi tác động của nước và hơi ẩm.
                                      </li>
                                      <li data-sourcepos="12:1-12:132">
                                          <strong>Chịu lực cao:</strong>
                                          Keo dán gạch TOA Premiumtile có khả năng chịu lực cao, giúp cho công trình ốp lát không bị nứt vỡ hay bong tróc.
                                      </li>
                                      <li data-sourcepos="13:1-13:99">
                                          <strong>Dễ sử dụng:</strong>
                                          Keo dán gạch TOA Premiumtile có thể dễ dàng thi công bằng tay hoặc bằng máy trộn.
                                      </li>
                                      <li data-sourcepos="14:1-15:0">
                                          <strong>Giá cả hợp lý:</strong>
                                          Keo dán gạch TOA Premiumtile có giá cả hợp lý, phù hợp với túi tiền của nhiều người tiêu dùng.
                                      </li>
                                  </ul>
                                  <p data-sourcepos="16:1-16:45">
                                      <strong>Ứng dụng của keo dán gạch TOA Premiumtile</strong>
                                  </p>
                                  <p data-sourcepos="18:1-18:286">Keo dán gạch TOA Premiumtile được sử dụng cho nhiều loại gạch khác nhau, bao gồm gạch men, gạch bóng kiếng, gạch sứ, gạch tự nhiên, gạch khổ lớn và các loại gạch trang trí khác. Keo dán gạch TOA Premiumtile thích hợp cho cả ốp lát tường và ốp lát sàn, cả khu vực nội thất và ngoại thất.</p>
                                  <h2 data-sourcepos="20:1-20:46">
                                      <strong>Cách thi công keo dán gạch TOA Premiumtile</strong>
                                  </h2>
                                  <p data-sourcepos="22:1-22:78">Để thi công keo dán gạch TOA Premiumtile, bạn cần thực hiện theo các bước sau:</p>
                                  <ol data-sourcepos="24:1-27:0">
                                      <li data-sourcepos="24:1-24:87">Chuẩn bị bề mặt ốp lát: Bề mặt ốp lát cần phải sạch sẽ, khô ráo và không có vết bẩn.</li>
                                      <li data-sourcepos="25:1-25:77">Trộn keo dán gạch: Trộn keo dán gạch theo đúng hướng dẫn của nhà sản xuất.</li>
                                      <li data-sourcepos="26:1-27:0">Thi công keo dán gạch: Thi công keo dán gạch theo đúng kỹ thuật.</li>
                                  </ol>
                                  <h2 data-sourcepos="28:1-28:50">
                                      <strong>Lưu ý khi sử dụng keo dán gạch TOA Premiumtile</strong>
                                  </h2>
                                  <p data-sourcepos="30:1-30:120">Để đảm bảo công trình ốp lát bền đẹp và lâu dài, bạn cần lưu ý một số điều sau khi sử dụng keo dán gạch TOA Premiumtile:</p>
                                  <ul data-sourcepos="32:1-35:0">
                                      <li data-sourcepos="32:1-32:50">Bảo quản keo dán gạch ở nơi khô ráo, thoáng mát.</li>
                                      <li data-sourcepos="33:1-33:53">Sử dụng keo dán gạch trong vòng 2 giờ sau khi trộn.</li>
                                      <li data-sourcepos="34:1-35:0">Vệ sinh sạch sẽ dụng cụ thi công sau khi sử dụng.</li>
                                  </ul>
                                  <p data-sourcepos="38:1-38:316">Keo dán gạch TOA Premiumtile là một sản phẩm chất lượng cao, được nhiều khách hàng tin tưởng và sử dụng. Sản phẩm có nhiều ưu điểm vượt trội, phù hợp với mọi công trình ốp lát. Nếu bạn đang tìm kiếm một loại keo dán gạch chất lượng cao, bền đẹp và lâu dài, thì keo dán gạch TOA Premiumtile là một lựa chọn tuyệt vời.</p>
                                  <h2 data-sourcepos="38:1-38:316">
                                      <strong>Mua keo dán gạch TOA ở đâu?</strong>
                                  </h2>
                                  <p data-sourcepos="1:1-1:121">
                                      <strong>
                                          Mua keo dán gạch TOA tại INNOCONS VIỆT NAM &#8211;Hotline: 0973021656 &#8211;<a class="traceable-link" href="https://keodangach.asia/" target="_blank" rel="noopener noreferrer">https://keodangach.asia</a>
                                      </strong>
                                  </p>
                                  <p data-sourcepos="3:1-3:139">INNOCONS VIỆT NAM là nhà phân phối keo dán gạch TOA chính hãng tại Việt Nam. Chúng tôi cung cấp đa dạng các loại keo dán gạch TOA, bao gồm:</p>
                                  <ul data-sourcepos="5:1-11:0">
                                      <li data-sourcepos="5:1-6:39">
                                          <a href="https://keodangach.asia/shop/keo-dan-gach/keo-dan-gach-toa-premtilmiue/">
                                              <strong>Keo dán gạch TOA Premiumtile:</strong>
                                          </a>
                                          là lớp vữa kết dính ốp lát dẻo, gốc xi măng, lớp mỏng hiệu suất cao có chứa xi măng, cốt liệu hạt mịn chọn lọc và các chất phụ gia hóa học đặc biệt. Cung cấp độ bền liên kết tuyệt vời và tính nhất quán trong các khí hậu khác nhau, có thể được sử dụng để dán tất cả các loại gạch trên nền xây như cát/xi măng, bê tông đúc sẵn, tấm thạch cao. Tấm cemboard TOA Premiumtile dễ xử lý, có thể sử dụng trên tường và sàn, nội và ngoại thất.
                                      </li>
                                  </ul>
                                  <p>
                                      <img decoding="async" class="size-full wp-image-746 aligncenter" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png" alt="" width="281" height="360"/>
                                  </p>
                                  <ul>
                                      <li>
                                          <strong>Keo dán gạchTOA Protile</strong>
                                          là lớp vữa kết dính ốp lát dẻo, gốc xi măng, lớp mỏng hiệu suất cao có chứa xi măng, cốt liệu hạt mịn chọn lọc và các chất phụ gia hóa học đặc biệt. Nó được cung cấp sẵn sàng để sử dụng với việc bổ sung nước tạo ra sự liên kết tốt cho việc lát gạch trên tường, sàn khu vực nội và ngoại thất.
                                      </li>
                                  </ul>
                                  <p>
                                      <img decoding="async" class="size-full wp-image-754 aligncenter" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Protile.png" alt="" width="281" height="360"/>
                                  </p>
                                  <ul>
                                      <li>
                                          <strong>Keo dán gạch </strong>
                                          <strong>TOA Supertile</strong>
                                          là lớp vữa kết dính ốp lát dẻo, gốc xi măng, có độ bám dính cao hơn dòng keo thông thường. Thích hợp ốp lát gạch đá hút nước và ít hút nước. Sử dụng cho khu vực nội thất, ngoại thất và bể bơi.
                                      </li>
                                  </ul>
                                  <p>
                                      <img decoding="async" loading="lazy" class="size-full wp-image-752 aligncenter" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Supertile.png" alt="" width="281" height="360"/>
                                  </p>
                                  <p data-sourcepos="12:1-12:234">Chúng tôi cam kết cung cấp keo dán gạch TOA chính hãng, chất lượng cao với giá cả cạnh tranh. Chúng tôi có đội ngũ nhân viên tư vấn chuyên nghiệp, luôn sẵn sàng hỗ trợ khách hàng lựa chọn loại keo dán gạch phù hợp với nhu cầu sử dụng.</p>
                                  <p data-sourcepos="14:1-14:175">
                                      Để mua keo dán gạch TOA tại VIỆT NAM, quý khách hàng có thể liên hệ qua
                                      <span style="color: #ff0000;">
                                          <strong>hotline: 0973021656</strong>
                                      </span>
                                      hoặc truy cập website: <a class="traceable-link" href="https://keodangach.asia/" target="_blank" rel="noopener noreferrer">https://keodangach.asia</a>
                                      .
                                  </p>
                                  <p data-sourcepos="16:1-16:59">
                                      <strong>Lợi ích khi mua keo dán gạch TOA tại INNOCONS VIỆT NAM:</strong>
                                  </p>
                                  <ul data-sourcepos="18:1-22:0">
                                      <li data-sourcepos="18:1-18:45">Mua keo dán gạch chính hãng, chất lượng cao</li>
                                      <li data-sourcepos="19:1-19:19">Giá cả cạnh tranh</li>
                                      <li data-sourcepos="20:1-20:40">Đội ngũ nhân viên tư vấn chuyên nghiệp</li>
                                      <li data-sourcepos="21:1-22:0">Giao hàng nhanh chóng, tận nơi</li>
                                  </ul>
                                  <p data-sourcepos="23:1-23:86">
                                      <strong>Hãy liên hệ với INNOCONS VIỆT NAM ngay hôm nay để được tư vấn và báo giá tốt nhất!</strong>
                                  </p>
                                  <div class="blog-share text-center">
                                      <div class="is-divider medium"></div>
                                      <div class="social-icons share-icons share-row relative">
                                          <a href="whatsapp://send?text=Keo%20d%C3%A1n%20g%E1%BA%A1ch%20TOA%20Premiumtile%20%26%238211%3B%20S%E1%BB%B1%20l%E1%BB%B1a%20ch%E1%BB%8Dn%20ho%C3%A0n%20h%E1%BA%A3o%20cho%20m%E1%BB%8Di%20c%C3%B4ng%20tr%C3%ACnh%20%E1%BB%91p%20l%C3%A1t - https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium" title="Share on WhatsApp" aria-label="Share on WhatsApp">
                                              <i class="icon-whatsapp"></i>
                                          </a>
                                          <a href="https://www.facebook.com/sharer.php?u=https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip facebook" title="Share on Facebook" aria-label="Share on Facebook">
                                              <i class="icon-facebook"></i>
                                          </a>
                                          <a href="https://twitter.com/share?url=https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip twitter" title="Share on Twitter" aria-label="Share on Twitter">
                                              <i class="icon-twitter"></i>
                                          </a>
                                          <a href="mailto:?subject=Keo%20d%C3%A1n%20g%E1%BA%A1ch%20TOA%20Premiumtile%20%26%238211%3B%20S%E1%BB%B1%20l%E1%BB%B1a%20ch%E1%BB%8Dn%20ho%C3%A0n%20h%E1%BA%A3o%20cho%20m%E1%BB%8Di%20c%C3%B4ng%20tr%C3%ACnh%20%E1%BB%91p%20l%C3%A1t&body=Check%20this%20out%3A%20https%3A%2F%2Fkeodangach.asia%2Fkeo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat%2F" rel="nofollow" class="icon button circle is-outline tooltip email" title="Email to a Friend" aria-label="Email to a Friend">
                                              <i class="icon-envelop"></i>
                                          </a>
                                          <a href="https://pinterest.com/pin/create/button?url=https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/&media=https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png&description=Keo%20d%C3%A1n%20g%E1%BA%A1ch%20TOA%20Premiumtile%20%26%238211%3B%20S%E1%BB%B1%20l%E1%BB%B1a%20ch%E1%BB%8Dn%20ho%C3%A0n%20h%E1%BA%A3o%20cho%20m%E1%BB%8Di%20c%C3%B4ng%20tr%C3%ACnh%20%E1%BB%91p%20l%C3%A1t" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest" title="Pin on Pinterest" aria-label="Pin on Pinterest">
                                              <i class="icon-pinterest"></i>
                                          </a>
                                          <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/&title=Keo%20d%C3%A1n%20g%E1%BA%A1ch%20TOA%20Premiumtile%20%26%238211%3B%20S%E1%BB%B1%20l%E1%BB%B1a%20ch%E1%BB%8Dn%20ho%C3%A0n%20h%E1%BA%A3o%20cho%20m%E1%BB%8Di%20c%C3%B4ng%20tr%C3%ACnh%20%E1%BB%91p%20l%C3%A1t" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px'); return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin" title="Share on LinkedIn" aria-label="Share on LinkedIn">
                                              <i class="icon-linkedin"></i>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                              <div class="entry-author author-box">
                                  <div class="flex-row align-top">
                                      <div class="flex-col mr circle">
                                          <div class="blog-author-image">
                                              <img alt='' src='https://secure.gravatar.com/avatar/f2d73d5b6aa80e3006e4f36da859fae0?s=90&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/f2d73d5b6aa80e3006e4f36da859fae0?s=180&#038;d=mm&#038;r=g 2x' class='avatar avatar-90 photo' height='90' width='90' loading='lazy' decoding='async'/>
                                          </div>
                                      </div>
                                      <div class="flex-col flex-grow">
                                          <h5 class="author-name uppercase pt-half">innocons				</h5>
                                          <p class="author-desc small"></p>
                                      </div>
                                  </div>
                              </div>
                              <nav role="navigation" id="nav-below" class="navigation-post">
                                  <div class="flex-row next-prev-nav bt bb">
                                      <div class="flex-col flex-grow nav-prev text-left">
                                          <div class="nav-previous">
                                              <a href="https://keodangach.asia/chon-keo-dan-gach-loi-ich-ky-thuat-thi-cong-va-luu-y-quan-trong/" rel="prev">
                                                  <span class="hide-for-small">
                                                      <i class="icon-angle-left"></i>
                                                  </span>
                                                  Chọn Keo Dán Gạch: Lợi Ích, Kỹ Thuật Thi Công và Lưu ý Quan Trọng
                                              </a>
                                          </div>
                                      </div>
                                      <div class="flex-col flex-grow nav-next text-right"></div>
                                  </div>
                              </nav>
                          </div>
                      </article>
                      <div id="comments" class="comments-area">
                          <div id="respond" class="comment-respond">
                              <h3 id="reply-title" class="comment-reply-title">
                                  Trả lời
                                  <small>
                                      <a rel="nofollow" id="cancel-comment-reply-link" href="/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/#respond" style="display:none;">Hủy</a>
                                  </small>
                              </h3>
                              <form action="https://keodangach.asia/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                  <p class="comment-notes">
                                      <span id="email-notes">Email của bạn sẽ không được hiển thị công khai.</span>
                                      <span class="required-field-message">
                                          Các trường bắt buộc được đánh dấu <span class="required">*</span>
                                      </span>
                                  </p>
                                  <p class="comment-form-comment">
                                      <label for="comment">
                                          Bình luận <span class="required">*</span>
                                      </label>
                                      <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required></textarea>
                                  </p>
                                  <p class="comment-form-author">
                                      <label for="author">
                                          Tên <span class="required">*</span>
                                      </label>
                                      <input id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name" required/>
                                  </p>
                                  <p class="comment-form-email">
                                      <label for="email">
                                          Email <span class="required">*</span>
                                      </label>
                                      <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" autocomplete="email" required/>
                                  </p>
                                  <p class="comment-form-url">
                                      <label for="url">Trang web</label>
                                      <input id="url" name="url" type="url" value="" size="30" maxlength="200" autocomplete="url"/>
                                  </p>
                                  <p class="form-submit">
                                      <input name="submit" type="submit" id="submit" class="submit" value="Phản hồi"/>
                                      <input type='hidden' name='comment_post_ID' value='814' id='comment_post_ID'/>
                                      <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
                                  </p>
                              </form>
                          </div>
                          <!-- #respond -->
                      </div>
                  </div>
                  <div class="post-sidebar large-3 col">
                      <div id="secondary" class="widget-area " role="complementary">
                          <aside id="flatsome_recent_posts-6" class="widget flatsome_recent_posts">
                              <span class="widget-title ">
                                  <span>BÀI MỚI</span>
                              </span>
                              <div class="is-divider small"></div>
                              <ul>
                                  <li class="recent-blog-posts-li">
                                      <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                          <div class="flex-col mr-half">
                                              <div class="badge post-date  badge-outline">
                                                  <div class="badge-inner bg-fill" style="background: url(https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue-280x280.png); border:0;"></div>
                                              </div>
                                          </div>
                                          <div class="flex-col flex-grow">
                                              <a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/" title="Keo dán gạch TOA Premiumtile &#8211; Sự lựa chọn hoàn hảo cho mọi công trình ốp lát">Keo dán gạch TOA Premiumtile &#8211;Sự lựa chọn hoàn hảo cho mọi công trình ốp lát</a>
                                              <span class="post_comments op-7 block is-xsmall">
                                                  <a href="https://keodangach.asia/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/#respond"></a>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="recent-blog-posts-li">
                                      <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                          <div class="flex-col mr-half">
                                              <div class="badge post-date  badge-outline">
                                                  <div class="badge-inner bg-fill" style="background: url(https://keodangach.asia/wp-content/uploads/2023/11/huong-dan-su-dung-keo-dan-gach-3-280x280.jpg); border:0;"></div>
                                              </div>
                                          </div>
                                          <div class="flex-col flex-grow">
                                              <a href="https://keodangach.asia/chon-keo-dan-gach-loi-ich-ky-thuat-thi-cong-va-luu-y-quan-trong/" title="Chọn Keo Dán Gạch: Lợi Ích, Kỹ Thuật Thi Công và Lưu ý Quan Trọng">Chọn Keo Dán Gạch: Lợi Ích, Kỹ Thuật Thi Công và Lưu ý Quan Trọng</a>
                                              <span class="post_comments op-7 block is-xsmall">
                                                  <a href="https://keodangach.asia/chon-keo-dan-gach-loi-ich-ky-thuat-thi-cong-va-luu-y-quan-trong/#respond"></a>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="recent-blog-posts-li">
                                      <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                          <div class="flex-col mr-half">
                                              <div class="badge post-date  badge-outline">
                                                  <div class="badge-inner bg-fill" style="background: url(https://keodangach.asia/wp-content/uploads/2023/11/eo-dan-gach-giup-khac-phuc-cac-hon-hop-truyen-thong-truoc-day-mac-phai_627efd4fd123469992592383f4b09a3e_1024x1024-280x280.jpg); border:0;"></div>
                                              </div>
                                          </div>
                                          <div class="flex-col flex-grow">
                                              <a href="https://keodangach.asia/mot-bao-keo-dan-gach-25kg-dan-duoc-bao-nhieu-m2/" title="Một bao keo dán gạch 25kg dán được bao nhiêu m2?">Một bao keo dán gạch 25kg dán được bao nhiêu m2?</a>
                                              <span class="post_comments op-7 block is-xsmall">
                                                  <a href="https://keodangach.asia/mot-bao-keo-dan-gach-25kg-dan-duoc-bao-nhieu-m2/#respond"></a>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="recent-blog-posts-li">
                                      <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                          <div class="flex-col mr-half">
                                              <div class="badge post-date  badge-outline">
                                                  <div class="badge-inner bg-fill" style="background: url(https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-keodangach-asia-280x280.jpg); border:0;"></div>
                                              </div>
                                          </div>
                                          <div class="flex-col flex-grow">
                                              <a href="https://keodangach.asia/su-quan-trong-cua-keo-dan-gach-trong-cong-trinh-xay-dung/" title="Sự Quan Trọng của Keo Dán Gạch trong Công Trình Xây Dựng">Sự Quan Trọng của Keo Dán Gạch trong Công Trình Xây Dựng</a>
                                              <span class="post_comments op-7 block is-xsmall">
                                                  <a href="https://keodangach.asia/su-quan-trong-cua-keo-dan-gach-trong-cong-trinh-xay-dung/#respond"></a>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="recent-blog-posts-li">
                                      <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                          <div class="flex-col mr-half">
                                              <div class="badge post-date  badge-outline">
                                                  <div class="badge-inner bg-fill" style="background: url(https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-toa-thai-lan-280x280.png); border:0;"></div>
                                              </div>
                                          </div>
                                          <div class="flex-col flex-grow">
                                              <a href="https://keodangach.asia/1-bao-keo-dan-gach-toa-dan-duoc-bao-nhieu-m2/" title="1 bao keo dán gạch TOA dán được bao nhiêu m2?">1 bao keo dán gạch TOA dán được bao nhiêu m2?</a>
                                              <span class="post_comments op-7 block is-xsmall">
                                                  <a href="https://keodangach.asia/1-bao-keo-dan-gach-toa-dan-duoc-bao-nhieu-m2/#respond"></a>
                                              </span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </aside>
                          <aside id="tag_cloud-9" class="widget widget_tag_cloud">
                              <span class="widget-title ">
                                  <span>Tag Cloud</span>
                              </span>
                              <div class="is-divider small"></div>
                              <div class="tagcloud">
                                  <a href="https://keodangach.asia/tag/keo-dan-gach/" class="tag-cloud-link tag-link-103 tag-link-position-1" style="font-size: 12.581818181818pt;" aria-label="keo dán gạch (2 mục)">keo dán gạch</a>
                                  <a href="https://keodangach.asia/tag/keo-dan-gach-toa/" class="tag-cloud-link tag-link-98 tag-link-position-2" style="font-size: 22pt;" aria-label="keo dán gạch TOA (6 mục)">keo dán gạch TOA</a>
                                  <a href="https://keodangach.asia/tag/xi-mang-ho-dau/" class="tag-cloud-link tag-link-99 tag-link-position-3" style="font-size: 8pt;" aria-label="xi măng hồ dầu (1 mục)">xi măng hồ dầu</a>
                                  <a href="https://keodangach.asia/tag/dinh-muc-keo-dan-gach/" class="tag-cloud-link tag-link-100 tag-link-position-4" style="font-size: 15.636363636364pt;" aria-label="định mức keo dán gạch (3 mục)">định mức keo dán gạch</a>
                              </div>
                          </aside>
                      </div>
                  </div>
              </div>
          </div>
      </main>
      <!-- #main -->
      <footer id="footer" class="footer-wrapper">
          <!-- FOOTER 1 -->
          <!-- FOOTER 2 -->
          <div class="absolute-footer dark medium-text-center text-center">
              <div class="container clearfix">
                  <div class="footer-secondary pull-right">
                      <div class="payment-icons inline-block">
                          <div class="payment-icon">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 32">
                                  <path d="M10.781 7.688c-0.251-1.283-1.219-1.688-2.344-1.688h-8.376l-0.061 0.405c5.749 1.469 10.469 4.595 12.595 10.501l-1.813-9.219zM13.125 19.688l-0.531-2.781c-1.096-2.907-3.752-5.594-6.752-6.813l4.219 15.939h5.469l8.157-20.032h-5.501l-5.062 13.688zM27.72 26.061l3.248-20.061h-5.187l-3.251 20.061h5.189zM41.875 5.656c-5.125 0-8.717 2.72-8.749 6.624-0.032 2.877 2.563 4.469 4.531 5.439 2.032 0.968 2.688 1.624 2.688 2.499 0 1.344-1.624 1.939-3.093 1.939-2.093 0-3.219-0.251-4.875-1.032l-0.688-0.344-0.719 4.499c1.219 0.563 3.437 1.064 5.781 1.064 5.437 0.032 8.97-2.688 9.032-6.843 0-2.282-1.405-4-4.376-5.439-1.811-0.904-2.904-1.563-2.904-2.499 0-0.843 0.936-1.72 2.968-1.72 1.688-0.029 2.936 0.314 3.875 0.752l0.469 0.248 0.717-4.344c-1.032-0.406-2.656-0.844-4.656-0.844zM55.813 6c-1.251 0-2.189 0.376-2.72 1.688l-7.688 18.374h5.437c0.877-2.467 1.096-3 1.096-3 0.592 0 5.875 0 6.624 0 0 0 0.157 0.688 0.624 3h4.813l-4.187-20.061h-4zM53.405 18.938c0 0 0.437-1.157 2.064-5.594-0.032 0.032 0.437-1.157 0.688-1.907l0.374 1.72c0.968 4.781 1.189 5.781 1.189 5.781-0.813 0-3.283 0-4.315 0z"></path>
                              </svg>
                          </div>
                          <div class="payment-icon">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 32">
                                  <path d="M19.112 24.647l-1.249-4.1h-6.279l-1.249 4.1h-3.935l6.079-17.295h4.465l6.102 17.295h-3.935zM16.991 17.484c-1.155-3.715-1.804-5.816-1.949-6.303s-0.25-0.872-0.312-1.155c-0.259 1.005-1.002 3.491-2.227 7.457h4.488zM31.859 24.647h-3.652v-14.184h-4.677v-3.039h13.006v3.039h-4.677v14.184zM46.479 24.647l-4.147-13.513h-0.106c0.149 2.749 0.224 4.583 0.224 5.501v8.011h-3.263v-17.223h4.971l4.076 13.171h0.070l4.324-13.171h4.972v17.224h-3.405v-8.152c0-0.385 0.006-0.829 0.018-1.331s0.065-1.838 0.159-4.006h-0.106l-4.442 13.489h-3.346z"></path>
                              </svg>
                          </div>
                          <div class="payment-icon">
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 32">
                                  <path d="M16.398 13.428c0.034 3.535 3.201 4.71 3.236 4.726-0.027 0.083-0.506 1.676-1.668 3.322-1.005 1.423-2.048 2.84-3.692 2.87-1.615 0.029-2.134-0.927-3.98-0.927s-2.422 0.898-3.951 0.956c-1.586 0.058-2.794-1.539-3.807-2.956-2.070-2.9-3.653-8.194-1.528-11.768 1.055-1.775 2.942-2.899 4.989-2.927 1.558-0.029 3.027 1.015 3.98 1.015s2.738-1.255 4.616-1.071c0.786 0.032 2.993 0.308 4.41 2.317-0.114 0.068-2.633 1.489-2.605 4.444zM13.363 4.749c0.842-0.987 1.409-2.362 1.254-3.729-1.213 0.047-2.682 0.783-3.552 1.77-0.78 0.874-1.464 2.273-1.279 3.613 1.353 0.101 2.735-0.666 3.577-1.654zM25.55 3.058c0.624-0.105 1.313-0.2 2.065-0.284s1.581-0.126 2.485-0.126c1.291 0 2.404 0.152 3.339 0.457s1.704 0.741 2.307 1.308c0.517 0.504 0.92 1.103 1.21 1.796s0.435 1.492 0.435 2.395c0 1.092-0.199 2.049-0.596 2.868s-0.941 1.507-1.629 2.064c-0.688 0.557-1.506 0.972-2.452 1.245s-1.979 0.41-3.098 0.41c-1.011 0-1.86-0.073-2.548-0.22v9.076h-1.517v-20.989zM27.068 13.648c0.366 0.104 0.774 0.178 1.226 0.22s0.935 0.063 1.451 0.063c1.936 0 3.436-0.441 4.501-1.323s1.597-2.174 1.597-3.876c0-0.819-0.14-1.534-0.42-2.143s-0.677-1.108-1.193-1.497c-0.516-0.388-1.129-0.683-1.839-0.882s-1.495-0.3-2.356-0.3c-0.688 0-1.28 0.027-1.774 0.079s-0.893 0.11-1.193 0.173l0.001 9.487zM49.452 20.454c0 0.61 0.010 1.219 0.032 1.828s0.086 1.197 0.194 1.765h-1.42l-0.225-2.143h-0.065c-0.194 0.294-0.441 0.588-0.742 0.882s-0.65 0.562-1.048 0.803c-0.398 0.242-0.85 0.436-1.355 0.583s-1.059 0.22-1.662 0.22c-0.753 0-1.414-0.121-1.985-0.362s-1.038-0.557-1.403-0.946c-0.366-0.389-0.64-0.836-0.822-1.339s-0.274-1.008-0.274-1.513c0-1.786 0.769-3.162 2.307-4.129s3.855-1.429 6.953-1.387v-0.41c0-0.399-0.038-0.856-0.113-1.371s-0.242-1.003-0.5-1.465c-0.258-0.462-0.645-0.851-1.161-1.166s-1.215-0.473-2.097-0.473c-0.666 0-1.328 0.1-1.983 0.299s-1.253 0.478-1.791 0.835l-0.484-1.103c0.688-0.462 1.399-0.793 2.13-0.992s1.495-0.3 2.29-0.3c1.076 0 1.952 0.178 2.63 0.536s1.21 0.819 1.597 1.387c0.387 0.567 0.651 1.202 0.791 1.906s0.21 1.402 0.21 2.096l-0.001 5.957zM47.936 15.948c-0.818-0.021-1.673 0.010-2.566 0.094s-1.715 0.268-2.468 0.552c-0.753 0.284-1.377 0.699-1.871 1.245s-0.742 1.271-0.742 2.175c0 1.072 0.312 1.859 0.935 2.364s1.323 0.757 2.097 0.757c0.624 0 1.182-0.084 1.677-0.252s0.925-0.394 1.291-0.677c0.366-0.283 0.672-0.603 0.919-0.961s0.436-0.725 0.565-1.103c0.108-0.421 0.161-0.726 0.161-0.915l0.001-3.277zM52.418 8.919l3.935 9.833c0.215 0.547 0.42 1.108 0.613 1.686s0.366 1.108 0.516 1.591h0.065c0.15-0.462 0.322-0.982 0.516-1.56s0.409-1.171 0.645-1.781l3.679-9.77h1.613l-4.484 11.094c-0.452 1.177-0.877 2.243-1.275 3.199s-0.801 1.817-1.21 2.585c-0.409 0.767-0.822 1.445-1.242 2.033s-0.887 1.103-1.404 1.544c-0.602 0.525-1.156 0.908-1.661 1.151s-0.844 0.394-1.016 0.457l-0.517-1.229c0.387-0.168 0.818-0.388 1.291-0.662s0.936-0.63 1.387-1.072c0.387-0.378 0.812-0.877 1.274-1.497s0.876-1.371 1.242-2.254c0.13-0.336 0.194-0.557 0.194-0.662 0-0.147-0.065-0.367-0.194-0.662l-5.582-14.025h1.614z"></path>
                              </svg>
                          </div>
                      </div>
                  </div>
                  <div class="footer-primary pull-left">
                      <div class="menu-main-container">
                          <ul id="menu-main-1" class="links footer-nav uppercase">
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-738">
                                  <a href="https://keodangach.asia/">TRANG CHỦ</a>
                              </li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422">
                                  <a href="https://keodangach.asia/gioi-thieu/">GIỚI THIỆU</a>
                              </li>
                              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749">
                                  <a href="https://keodangach.asia/vlxd/keo-dan-gach/">KEO DÁN GẠCH</a>
                              </li>
                              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748">
                                  <a href="https://keodangach.asia/vlxd/keo-cha-ron/">KEO CHÀ RON</a>
                              </li>
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728">
                                  <a href="#">HÓA CHẤT XÂY DỰNG</a>
                              </li>
                              <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-777">
                                  <a href="https://keodangach.asia/category/tu-van/">TƯ VẤN</a>
                              </li>
                              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764">
                                  <a href="https://keodangach.asia/category/tin-tuc/">TIN TỨC</a>
                              </li>
                              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735">
                                  <a href="https://keodangach.asia/lien-he/">LIÊN HỆ</a>
                              </li>
                          </ul>
                      </div>
                      <div class="copyright-footer">
                          CÔNG TY CP ĐẦU TƯ & XÂY DỰNG INNOCONS VIỆT NAM<br>
                          KEO DÁN GẠCH - KEO CHÀ RON - HÓA CHẤT XÂY DỰNG - VẬT LIỆU CHỐNG THẤM<br>
                          <b>Showroom :</b>
                          Khu B, Lô B50-04, KĐT GELEXIMCO, Lê Trọng Tấn, Hà Đông, Hà Nội<br>
                          <b>Hotline:</b>
                          0973021656 -  0936365648<br>
                          Copyright 2023 © <strong>keodangach.asia</strong>
                      </div>
                  </div>
              </div>
          </div>
          <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link" aria-label="Go to top">
              <i class="icon-angle-up"></i>
          </a>
      </footer>
      <!-- .footer-wrapper -->
  </div>
  <!-- #wrapper -->
  <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
      <div class="sidebar-menu no-scrollbar ">
          <ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
              <li class="header-search-form search-form html relative has-icon">
                  <div class="header-search-form-wrapper">
                      <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                          <form role="search" method="get" class="searchform" action="https://keodangach.asia/">
                              <div class="flex-row relative">
                                  <div class="flex-col flex-grow">
                                      <label class="screen-reader-text" for="woocommerce-product-search-field-2">Tìm kiếm:</label>
                                      <input type="search" id="woocommerce-product-search-field-2" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s"/>
                                      <input type="hidden" name="post_type" value="product"/>
                                  </div>
                                  <div class="flex-col">
                                      <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button  icon mb-0" aria-label="Submit">
                                          <i class="icon-search"></i>
                                      </button>
                                  </div>
                              </div>
                              <div class="live-search-results text-left z-top"></div>
                          </form>
                      </div>
                  </div>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-738">
                  <a href="https://keodangach.asia/">TRANG CHỦ</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422">
                  <a href="https://keodangach.asia/gioi-thieu/">GIỚI THIỆU</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749">
                  <a href="https://keodangach.asia/vlxd/keo-dan-gach/">KEO DÁN GẠCH</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748">
                  <a href="https://keodangach.asia/vlxd/keo-cha-ron/">KEO CHÀ RON</a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728">
                  <a href="#">HÓA CHẤT XÂY DỰNG</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-777">
                  <a href="https://keodangach.asia/category/tu-van/">TƯ VẤN</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764">
                  <a href="https://keodangach.asia/category/tin-tuc/">TIN TỨC</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735">
                  <a href="https://keodangach.asia/lien-he/">LIÊN HỆ</a>
              </li>
          </ul>
      </div>
  </div>
  <div id="login-form-popup" class="lightbox-content mfp-hide">
      <div class="woocommerce">
          <div class="woocommerce-notices-wrapper"></div>
          <div class="account-container lightbox-inner">
              <div class="account-login-inner">
                  <h3 class="uppercase">Đăng nhập</h3>
                  <form class="woocommerce-form woocommerce-form-login login" method="post">
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="username">
                              Tên tài khoản hoặc địa chỉ email &nbsp;<span class="required">*</span>
                          </label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value=""/>
                      </p>
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="password">
                              Mật khẩu &nbsp;<span class="required">*</span>
                          </label>
                          <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password"/>
                      </p>
                      <p class="form-row">
                          <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                              <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"/>
                              <span>Ghi nhớ mật khẩu</span>
                          </label>
                          <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="0fa56107e1"/>
                          <input type="hidden" name="_wp_http_referer" value="/keo-dan-gach-toa-premiumtile-su-lua-chon-hoan-hao-cho-moi-cong-trinh-op-lat/"/>
                          <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
                      </p>
                      <p class="woocommerce-LostPassword lost_password">
                          <a href="https://keodangach.asia/my-account/lost-password/">Quên mật khẩu?</a>
                      </p>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      (function() {
          var c = document.body.className;
          c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
          document.body.className = c;
      }
      )();
  </script>
  <style id='global-styles-inline-css' type='text/css'>
      body {
          --wp--preset--color--black: #000000;
          --wp--preset--color--cyan-bluish-gray: #abb8c3;
          --wp--preset--color--white: #ffffff;
          --wp--preset--color--pale-pink: #f78da7;
          --wp--preset--color--vivid-red: #cf2e2e;
          --wp--preset--color--luminous-vivid-orange: #ff6900;
          --wp--preset--color--luminous-vivid-amber: #fcb900;
          --wp--preset--color--light-green-cyan: #7bdcb5;
          --wp--preset--color--vivid-green-cyan: #00d084;
          --wp--preset--color--pale-cyan-blue: #8ed1fc;
          --wp--preset--color--vivid-cyan-blue: #0693e3;
          --wp--preset--color--vivid-purple: #9b51e0;
          --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
          --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
          --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
          --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
          --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
          --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
          --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
          --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
          --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
          --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
          --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
          --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
          --wp--preset--font-size--small: 13px;
          --wp--preset--font-size--medium: 20px;
          --wp--preset--font-size--large: 36px;
          --wp--preset--font-size--x-large: 42px;
          --wp--preset--spacing--20: 0.44rem;
          --wp--preset--spacing--30: 0.67rem;
          --wp--preset--spacing--40: 1rem;
          --wp--preset--spacing--50: 1.5rem;
          --wp--preset--spacing--60: 2.25rem;
          --wp--preset--spacing--70: 3.38rem;
          --wp--preset--spacing--80: 5.06rem;
          --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
          --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
          --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
          --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
          --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
      }

      :where(.is-layout-flex) {
          gap: 0.5em;
      }

      :where(.is-layout-grid) {
          gap: 0.5em;
      }

      body .is-layout-flow > .alignleft {
          float: left;
          margin-inline-start: 0;margin-inline-end: 2em;}

      body .is-layout-flow > .alignright {
          float: right;
          margin-inline-start: 2em;margin-inline-end: 0;}

      body .is-layout-flow > .aligncenter {
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > .alignleft {
          float: left;
          margin-inline-start: 0;margin-inline-end: 2em;}

      body .is-layout-constrained > .alignright {
          float: right;
          margin-inline-start: 2em;margin-inline-end: 0;}

      body .is-layout-constrained > .aligncenter {
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
          max-width: var(--wp--style--global--content-size);
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > .alignwide {
          max-width: var(--wp--style--global--wide-size);
      }

      body .is-layout-flex {
          display: flex;
      }

      body .is-layout-flex {
          flex-wrap: wrap;
          align-items: center;
      }

      body .is-layout-flex > * {
          margin: 0;
      }

      body .is-layout-grid {
          display: grid;
      }

      body .is-layout-grid > * {
          margin: 0;
      }

      :where(.wp-block-columns.is-layout-flex) {
          gap: 2em;
      }

      :where(.wp-block-columns.is-layout-grid) {
          gap: 2em;
      }

      :where(.wp-block-post-template.is-layout-flex) {
          gap: 1.25em;
      }

      :where(.wp-block-post-template.is-layout-grid) {
          gap: 1.25em;
      }

      .has-black-color {
          color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-color {
          color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-color {
          color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-color {
          color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-color {
          color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-color {
          color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-color {
          color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-color {
          color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-color {
          color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-color {
          color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-color {
          color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-color {
          color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-black-background-color {
          background-color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-background-color {
          background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-background-color {
          background-color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-background-color {
          background-color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-background-color {
          background-color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-background-color {
          background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-background-color {
          background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-background-color {
          background-color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-background-color {
          background-color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-background-color {
          background-color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-background-color {
          background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-background-color {
          background-color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-black-border-color {
          border-color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-border-color {
          border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-border-color {
          border-color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-border-color {
          border-color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-border-color {
          border-color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-border-color {
          border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-border-color {
          border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-border-color {
          border-color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-border-color {
          border-color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-border-color {
          border-color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-border-color {
          border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-border-color {
          border-color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
          background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
      }

      .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
          background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
      }

      .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
          background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-orange-to-vivid-red-gradient-background {
          background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
      }

      .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
          background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
      }

      .has-cool-to-warm-spectrum-gradient-background {
          background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
      }

      .has-blush-light-purple-gradient-background {
          background: var(--wp--preset--gradient--blush-light-purple) !important;
      }

      .has-blush-bordeaux-gradient-background {
          background: var(--wp--preset--gradient--blush-bordeaux) !important;
      }

      .has-luminous-dusk-gradient-background {
          background: var(--wp--preset--gradient--luminous-dusk) !important;
      }

      .has-pale-ocean-gradient-background {
          background: var(--wp--preset--gradient--pale-ocean) !important;
      }

      .has-electric-grass-gradient-background {
          background: var(--wp--preset--gradient--electric-grass) !important;
      }

      .has-midnight-gradient-background {
          background: var(--wp--preset--gradient--midnight) !important;
      }

      .has-small-font-size {
          font-size: var(--wp--preset--font-size--small) !important;
      }

      .has-medium-font-size {
          font-size: var(--wp--preset--font-size--medium) !important;
      }

      .has-large-font-size {
          font-size: var(--wp--preset--font-size--large) !important;
      }

      .has-x-large-font-size {
          font-size: var(--wp--preset--font-size--x-large) !important;
      }
  </style>
  <script type='text/javascript' id='contact-form-7-js-extra'>
      /* <![CDATA[ */
      var wpcf7 = {
          "apiSettings": {
              "root": "https:\/\/keodangach.asia\/wp-json\/contact-form-7\/v1",
              "namespace": "contact-form-7\/v1"
          }
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.5' id='contact-form-7-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.8.2.1' id='jquery-blockui-js'></script>
  <script type='text/javascript' id='wc-add-to-cart-js-extra'>
      /* <![CDATA[ */
      var wc_add_to_cart_params = {
          "ajax_url": "\/wp-admin\/admin-ajax.php",
          "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
          "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng",
          "cart_url": "https:\/\/keodangach.asia\/cart\/",
          "is_cart": "",
          "cart_redirect_after_add": "no"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=8.2.1' id='wc-add-to-cart-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.8.2.1' id='js-cookie-js'></script>
  <script type='text/javascript' id='woocommerce-js-extra'>
      /* <![CDATA[ */
      var woocommerce_params = {
          "ajax_url": "\/wp-admin\/admin-ajax.php",
          "wc_ajax_url": "\/?wc-ajax=%%endpoint%%"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=8.2.1' id='woocommerce-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.17.7' id='flatsome-live-search-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-includes/js/hoverIntent.min.js?ver=1.10.2' id='hoverIntent-js'></script>
  <script type='text/javascript' id='flatsome-js-js-extra'>
      /* <![CDATA[ */
      var flatsomeVars = {
          "theme": {
              "version": "3.17.7"
          },
          "ajaxurl": "https:\/\/keodangach.asia\/wp-admin\/admin-ajax.php",
          "rtl": "",
          "sticky_height": "70",
          "stickyHeaderHeight": "0",
          "scrollPaddingTop": "0",
          "assets_url": "https:\/\/keodangach.asia\/wp-content\/themes\/flatsome\/assets\/",
          "lightbox": {
              "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>",
              "close_btn_inside": false
          },
          "user": {
              "can_edit_pages": false
          },
          "i18n": {
              "mainMenu": "Main Menu",
              "toggleButton": "Toggle"
          },
          "options": {
              "cookie_notice_version": "1",
              "swatches_layout": false,
              "swatches_disable_deselect": false,
              "swatches_box_select_event": false,
              "swatches_box_behavior_selected": false,
              "swatches_box_update_urls": "1",
              "swatches_box_reset": false,
              "swatches_box_reset_limited": false,
              "swatches_box_reset_extent": false,
              "swatches_box_reset_time": 300,
              "search_result_latency": "0"
          },
          "is_mini_cart_reveal": "1"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/flatsome.js?ver=43f05e0ca79aa585a6aa' id='flatsome-js-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=1a392523165907adee6a' id='flatsome-theme-woocommerce-js-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-includes/js/comment-reply.min.js?ver=6.3.2' id='comment-reply-js'></script>
  <!--[if IE]>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/intersection-observer-polyfill@0.1.0/dist/IntersectionObserver.js?ver=0.1.0' id='intersection-observer-polyfill-js'></script>
<![endif]-->
</body>
