<body class="archive category category-tu-van category-92 theme-flatsome woocommerce-no-js lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
  <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
  <div id="wrapper">
      <main id="main" class="">
          <div id="content" class="blog-wrapper blog-archive page-wrapper">
              <header class="archive-page-header">
                  <div class="row">
                      <div class="large-12 text-center col">
                          <h1 class="page-title is-large uppercase">
                              Category Archives: <span>TƯ VẤN</span>
                          </h1>
                      </div>
                  </div>
              </header>
              <div class="row align-center">
                  <div class="large-10 col">
                      <div id="row-1813036133" class="row large-columns-3 medium-columns- small-columns-1 row-masonry" data-packery-options='{"itemSelector": ".col", "gutter": 0, "presentageWidth" : true}'>
                          <div *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]" class="col post-item">
                              <div class="col-inner">
                                  <div class="box box-text-bottom box-blog-post has-hover">
                                      <div class="box-image">
                                          <div class="image-cover" style="padding-top:56%;">
                                              <a href="{{newUrl}}" class="plain" aria-label="Keo dán gạch TOA Premiumtile &#8211; Sự lựa chọn hoàn hảo cho mọi công trình ốp lát">
                                                  <img width="281" height="360" src="https://keodangach.asia/wp-content/uploads/2023/10/keo-dan-gach-TOA-Premtilmiue.png" class="attachment-medium size-medium wp-post-image" alt="" decoding="async" loading="lazy"/>
                                              </a>
                                          </div>
                                      </div>
                                      <div class="box-text text-center">
                                          <div class="box-text-inner blog-post-inner">
                                              <h5 class="post-title is-large ">
                                                  <a href="{{newUrl}}" class="plain">Keo dán gạch TOA Premiumtile &#8211;Sự lựa chọn hoàn hảo cho mọi công trình ốp lát</a>
                                              </h5>
                                              <div class="is-divider"></div>
                                              <p class="from_the_blog_excerpt ">Keo dán gạch là một sản phẩm quan trọng trong quá trình ốp lát, nó...					</p>
                                          </div>
                                      </div>
                                      <div class="badge absolute top post-date badge-outline">
                                          <div class="badge-inner">
                                              <span class="post-date-day">19</span>
                                              <br>
                                              <span class="post-date-month is-xsmall">Th11</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
      <!-- #main -->
  </div>
  <!-- #wrapper -->
  <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
      <div class="sidebar-menu no-scrollbar ">
          <ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
              <li class="header-search-form search-form html relative has-icon">
                  <div class="header-search-form-wrapper">
                      <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                          <form role="search" method="get" class="searchform" action="https://keodangach.asia/">
                              <div class="flex-row relative">
                                  <div class="flex-col flex-grow">
                                      <label class="screen-reader-text" for="woocommerce-product-search-field-2">Tìm kiếm:</label>
                                      <input type="search" id="woocommerce-product-search-field-2" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s"/>
                                      <input type="hidden" name="post_type" value="product"/>
                                  </div>
                                  <div class="flex-col">
                                      <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button  icon mb-0" aria-label="Submit">
                                          <i class="icon-search"></i>
                                      </button>
                                  </div>
                              </div>
                              <div class="live-search-results text-left z-top"></div>
                          </form>
                      </div>
                  </div>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-738">
                  <a href="https://keodangach.asia/">TRANG CHỦ</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-422">
                  <a href="https://keodangach.asia/gioi-thieu/">GIỚI THIỆU</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-749">
                  <a href="https://keodangach.asia/vlxd/keo-dan-gach/">KEO DÁN GẠCH</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-748">
                  <a href="https://keodangach.asia/vlxd/keo-cha-ron/">KEO CHÀ RON</a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-728">
                  <a href="#">HÓA CHẤT XÂY DỰNG</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-777">
                  <a href="https://keodangach.asia/category/tu-van/" aria-current="page">TƯ VẤN</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-764">
                  <a href="https://keodangach.asia/category/tin-tuc/">TIN TỨC</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735">
                  <a href="https://keodangach.asia/lien-he/">LIÊN HỆ</a>
              </li>
          </ul>
      </div>
  </div>
  <div id="login-form-popup" class="lightbox-content mfp-hide">
      <div class="woocommerce">
          <div class="woocommerce-notices-wrapper"></div>
          <div class="account-container lightbox-inner">
              <div class="account-login-inner">
                  <h3 class="uppercase">Đăng nhập</h3>
                  <form class="woocommerce-form woocommerce-form-login login" method="post">
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="username">
                              Tên tài khoản hoặc địa chỉ email &nbsp;<span class="required">*</span>
                          </label>
                          <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value=""/>
                      </p>
                      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="password">
                              Mật khẩu &nbsp;<span class="required">*</span>
                          </label>
                          <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password"/>
                      </p>
                      <p class="form-row">
                          <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                              <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"/>
                              <span>Ghi nhớ mật khẩu</span>
                          </label>
                          <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="74959bba16"/>
                          <input type="hidden" name="_wp_http_referer" value="/category/tu-van/"/>
                          <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
                      </p>
                      <p class="woocommerce-LostPassword lost_password">
                          <a href="https://keodangach.asia/my-account/lost-password/">Quên mật khẩu?</a>
                      </p>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      (function() {
          var c = document.body.className;
          c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
          document.body.className = c;
      }
      )();
  </script>
  <style id='global-styles-inline-css' type='text/css'>
      body {
          --wp--preset--color--black: #000000;
          --wp--preset--color--cyan-bluish-gray: #abb8c3;
          --wp--preset--color--white: #ffffff;
          --wp--preset--color--pale-pink: #f78da7;
          --wp--preset--color--vivid-red: #cf2e2e;
          --wp--preset--color--luminous-vivid-orange: #ff6900;
          --wp--preset--color--luminous-vivid-amber: #fcb900;
          --wp--preset--color--light-green-cyan: #7bdcb5;
          --wp--preset--color--vivid-green-cyan: #00d084;
          --wp--preset--color--pale-cyan-blue: #8ed1fc;
          --wp--preset--color--vivid-cyan-blue: #0693e3;
          --wp--preset--color--vivid-purple: #9b51e0;
          --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
          --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
          --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
          --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
          --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
          --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
          --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
          --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
          --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
          --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
          --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
          --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
          --wp--preset--font-size--small: 13px;
          --wp--preset--font-size--medium: 20px;
          --wp--preset--font-size--large: 36px;
          --wp--preset--font-size--x-large: 42px;
          --wp--preset--spacing--20: 0.44rem;
          --wp--preset--spacing--30: 0.67rem;
          --wp--preset--spacing--40: 1rem;
          --wp--preset--spacing--50: 1.5rem;
          --wp--preset--spacing--60: 2.25rem;
          --wp--preset--spacing--70: 3.38rem;
          --wp--preset--spacing--80: 5.06rem;
          --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
          --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
          --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
          --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
          --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
      }

      :where(.is-layout-flex) {
          gap: 0.5em;
      }

      :where(.is-layout-grid) {
          gap: 0.5em;
      }

      body .is-layout-flow > .alignleft {
          float: left;
          margin-inline-start: 0;margin-inline-end: 2em;}

      body .is-layout-flow > .alignright {
          float: right;
          margin-inline-start: 2em;margin-inline-end: 0;}

      body .is-layout-flow > .aligncenter {
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > .alignleft {
          float: left;
          margin-inline-start: 0;margin-inline-end: 2em;}

      body .is-layout-constrained > .alignright {
          float: right;
          margin-inline-start: 2em;margin-inline-end: 0;}

      body .is-layout-constrained > .aligncenter {
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
          max-width: var(--wp--style--global--content-size);
          margin-left: auto !important;
          margin-right: auto !important;
      }

      body .is-layout-constrained > .alignwide {
          max-width: var(--wp--style--global--wide-size);
      }

      body .is-layout-flex {
          display: flex;
      }

      body .is-layout-flex {
          flex-wrap: wrap;
          align-items: center;
      }

      body .is-layout-flex > * {
          margin: 0;
      }

      body .is-layout-grid {
          display: grid;
      }

      body .is-layout-grid > * {
          margin: 0;
      }

      :where(.wp-block-columns.is-layout-flex) {
          gap: 2em;
      }

      :where(.wp-block-columns.is-layout-grid) {
          gap: 2em;
      }

      :where(.wp-block-post-template.is-layout-flex) {
          gap: 1.25em;
      }

      :where(.wp-block-post-template.is-layout-grid) {
          gap: 1.25em;
      }

      .has-black-color {
          color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-color {
          color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-color {
          color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-color {
          color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-color {
          color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-color {
          color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-color {
          color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-color {
          color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-color {
          color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-color {
          color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-color {
          color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-color {
          color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-black-background-color {
          background-color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-background-color {
          background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-background-color {
          background-color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-background-color {
          background-color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-background-color {
          background-color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-background-color {
          background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-background-color {
          background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-background-color {
          background-color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-background-color {
          background-color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-background-color {
          background-color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-background-color {
          background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-background-color {
          background-color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-black-border-color {
          border-color: var(--wp--preset--color--black) !important;
      }

      .has-cyan-bluish-gray-border-color {
          border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
      }

      .has-white-border-color {
          border-color: var(--wp--preset--color--white) !important;
      }

      .has-pale-pink-border-color {
          border-color: var(--wp--preset--color--pale-pink) !important;
      }

      .has-vivid-red-border-color {
          border-color: var(--wp--preset--color--vivid-red) !important;
      }

      .has-luminous-vivid-orange-border-color {
          border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-amber-border-color {
          border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
      }

      .has-light-green-cyan-border-color {
          border-color: var(--wp--preset--color--light-green-cyan) !important;
      }

      .has-vivid-green-cyan-border-color {
          border-color: var(--wp--preset--color--vivid-green-cyan) !important;
      }

      .has-pale-cyan-blue-border-color {
          border-color: var(--wp--preset--color--pale-cyan-blue) !important;
      }

      .has-vivid-cyan-blue-border-color {
          border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
      }

      .has-vivid-purple-border-color {
          border-color: var(--wp--preset--color--vivid-purple) !important;
      }

      .has-vivid-cyan-blue-to-vivid-purple-gradient-background {
          background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
      }

      .has-light-green-cyan-to-vivid-green-cyan-gradient-background {
          background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
      }

      .has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
          background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
      }

      .has-luminous-vivid-orange-to-vivid-red-gradient-background {
          background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
      }

      .has-very-light-gray-to-cyan-bluish-gray-gradient-background {
          background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
      }

      .has-cool-to-warm-spectrum-gradient-background {
          background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
      }

      .has-blush-light-purple-gradient-background {
          background: var(--wp--preset--gradient--blush-light-purple) !important;
      }

      .has-blush-bordeaux-gradient-background {
          background: var(--wp--preset--gradient--blush-bordeaux) !important;
      }

      .has-luminous-dusk-gradient-background {
          background: var(--wp--preset--gradient--luminous-dusk) !important;
      }

      .has-pale-ocean-gradient-background {
          background: var(--wp--preset--gradient--pale-ocean) !important;
      }

      .has-electric-grass-gradient-background {
          background: var(--wp--preset--gradient--electric-grass) !important;
      }

      .has-midnight-gradient-background {
          background: var(--wp--preset--gradient--midnight) !important;
      }

      .has-small-font-size {
          font-size: var(--wp--preset--font-size--small) !important;
      }

      .has-medium-font-size {
          font-size: var(--wp--preset--font-size--medium) !important;
      }

      .has-large-font-size {
          font-size: var(--wp--preset--font-size--large) !important;
      }

      .has-x-large-font-size {
          font-size: var(--wp--preset--font-size--x-large) !important;
      }
  </style>
  <script type='text/javascript' id='contact-form-7-js-extra'>
      /* <![CDATA[ */
      var wpcf7 = {
          "apiSettings": {
              "root": "https:\/\/keodangach.asia\/wp-json\/contact-form-7\/v1",
              "namespace": "contact-form-7\/v1"
          }
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.5' id='contact-form-7-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.8.2.1' id='jquery-blockui-js'></script>
  <script type='text/javascript' id='wc-add-to-cart-js-extra'>
      /* <![CDATA[ */
      var wc_add_to_cart_params = {
          "ajax_url": "\/wp-admin\/admin-ajax.php",
          "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
          "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng",
          "cart_url": "https:\/\/keodangach.asia\/cart\/",
          "is_cart": "",
          "cart_redirect_after_add": "no"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=8.2.1' id='wc-add-to-cart-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.8.2.1' id='js-cookie-js'></script>
  <script type='text/javascript' id='woocommerce-js-extra'>
      /* <![CDATA[ */
      var woocommerce_params = {
          "ajax_url": "\/wp-admin\/admin-ajax.php",
          "wc_ajax_url": "\/?wc-ajax=%%endpoint%%"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=8.2.1' id='woocommerce-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.17.7' id='flatsome-live-search-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-includes/js/hoverIntent.min.js?ver=1.10.2' id='hoverIntent-js'></script>
  <script type='text/javascript' id='flatsome-js-js-extra'>
      /* <![CDATA[ */
      var flatsomeVars = {
          "theme": {
              "version": "3.17.7"
          },
          "ajaxurl": "https:\/\/keodangach.asia\/wp-admin\/admin-ajax.php",
          "rtl": "",
          "sticky_height": "70",
          "stickyHeaderHeight": "0",
          "scrollPaddingTop": "0",
          "assets_url": "https:\/\/keodangach.asia\/wp-content\/themes\/flatsome\/assets\/",
          "lightbox": {
              "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>",
              "close_btn_inside": false
          },
          "user": {
              "can_edit_pages": false
          },
          "i18n": {
              "mainMenu": "Main Menu",
              "toggleButton": "Toggle"
          },
          "options": {
              "cookie_notice_version": "1",
              "swatches_layout": false,
              "swatches_disable_deselect": false,
              "swatches_box_select_event": false,
              "swatches_box_behavior_selected": false,
              "swatches_box_update_urls": "1",
              "swatches_box_reset": false,
              "swatches_box_reset_limited": false,
              "swatches_box_reset_extent": false,
              "swatches_box_reset_time": 300,
              "search_result_latency": "0"
          },
          "is_mini_cart_reveal": "1"
      };
      /* ]]> */
  </script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/flatsome.js?ver=43f05e0ca79aa585a6aa' id='flatsome-js-js'></script>
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=1a392523165907adee6a' id='flatsome-theme-woocommerce-js-js'></script>
  <!--[if IE]>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/intersection-observer-polyfill@0.1.0/dist/IntersectionObserver.js?ver=0.1.0' id='intersection-observer-polyfill-js'></script>
<![endif]-->
  <script type='text/javascript' src='https://keodangach.asia/wp-content/themes/flatsome/assets/libs/packery.pkgd.min.js?ver=3.17.7' id='flatsome-masonry-js-js'></script>
</body>
